<h1>This application will determine how many coins would would recieve based on cents.</h1>

<form action="/output">
  <div>
    <label for="side1">Side 1:</label>
    <input type="text" name="side1" class="side1">
  </div>
  <div>
    <label for="side2">Side 2:</label>
    <input type="text" name="side2" class="side2">
  </div>
  <div>
    <label for="side3">Side 3:</label>
    <input type="text" name="side3" class="side3">
  </div>
  <button type="submit" class="btn">Make a triangle!</button>
</form>
