<!DOCTYPE html>
<html>
  <head>
    <title>Sinatra Triangle Tracker</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h3>Make a triangle</h3>
        <p>Please enter the lenght of all 3 sides of the triangle</p>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
